
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>- Ethan Nagelvoort is a graduating senior at SDSU. He has always loved keyboards. He fiddles around with them a lot and so knows the ins and outs of how keyboards generally work. He has contributed a lot to this website so please explore it.</p>
